<h1>Listing prices</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Price</th>
    <th>Fund</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @prices.each do |price| %>
  <tr>
    <td><%= price.date %></td>
    <td><%= price.price %></td>
    <td><%= price.fund %></td>
    <td><%= link_to 'Show', price %></td>
    <td><%= link_to 'Edit', edit_price_path(price) %></td>
    <td><%= link_to 'Destroy', price, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Price', new_price_path %>
